theme = "github_dark_fixed"

[editor]
true-color = true
line-number = "relative"
soft-wrap.enable = true
color-modes = true
end-of-line-diagnostics = "hint"

[editor.cursor-shape]
insert = "bar"

[editor.inline-diagnostics]
cursor-line = "warning" # show warnings and errors on the cursorline inline

[keys.normal]
Cmd-s = ":write"
- = [
  ':sh rm -f /tmp/yazi-file-selection',
  ':insert-output yazi %{buffer_name} --chooser-file=/tmp/yazi-file-selection',
  ':insert-output echo "\x1b[?1049h\x1b[?2004h" > /dev/tty',
  ':open %sh{cat /tmp/yazi-file-selection}',
  ':redraw',
]

[keys.normal.space]
l = [
  ':insert-output lazygit',
  ':insert-output echo "\x1b[?1049h\x1b[?2004h" > /dev/tty', # not sure if this is needed.
  ':redraw',
]

[keys.insert]
Cmd-s = ":write"

[keys.select]
Cmd-s = ":write"
