[language-server.ty.config.ty.experimental]
rename = true

[language-server.zk]
command = "zk"
args = ["lsp"]

[[language]]
name = "markdown"
language-servers = ["zk"]

[language-server.tinymist]
config = { exportPdf = "onType", formatterMode = "typstyle" }

[language-server.ghostty-ls]
command = "ghostty-ls"

[[language]]
name = "toml"
formatter = { command = "taplo", args = [
  "fmt",
  "--option",
  "align_comments=false",
  "-",
] }

[[language]]
name = "ghostty"
file-types = [{ glob = "*ghostty/config*" }, { glob = "*ghostty/themes/*" }]
language-servers = ["ghostty-ls"]
