[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
[alias]
	ignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
	worddiff = "!git diff --color | diff-highlight"
[merge]
	tool = intellij
[mergetool "intellij"]
	cmd = /usr/local/bin/idea merge $(cd $(dirname "$LOCAL") && pwd)/$(basename "$LOCAL") $(cd $(dirname "$REMOTE") && pwd)/$(basename "$REMOTE") $(cd $(dirname "$BASE") && pwd)/$(basename "$BASE") $(cd $(dirname "$MERGED") && pwd)/$(basename "$MERGED")
	trustExitCode = false
[diff]
	tool = intellij
[difftool "intellij"]
	cmd = /usr/local/bin/idea diff $(cd $(dirname "$LOCAL") && pwd)/$(basename "$LOCAL") $(cd $(dirname "$REMOTE") && pwd)/$(basename "$REMOTE")
[user]
	name = Karim Abou Zeid
	email = karim23697@gmail.com
[pull]
	ff = only
[init]
	defaultBranch = main
