config/nvim/plugin/**
config/nvim/spell/**
config/nvim/sessions/**
config/ranger/bookmarks
config/ranger/history
config/ranger/tagged
config/helix/runtime
config/fish/fishd.*
config/fish/fish_variables
config/fish/conf.d/asdf_direnv.fish
*.local*
