config/nvim/plugin/**
config/nvim/spell/**
config/nvim/sessions/**
config/ranger/bookmarks
config/ranger/history
config/ranger/tagged
config/helix/runtime
config/fish/fishd.*
config/fish/fish_variables
*.local*
config/mise/config.toml
config/lazygit/state.yml
home/codex
