/* rose-pine colors */
@define-color base #232136;
@define-color surface #2a273f;
@define-color overlay #393552;
@define-color inactive #59546d;
@define-color subtle #817c9c;
@define-color text #e0def4;
@define-color love #eb6f92;
@define-color gold #f6c177;
@define-color rose #ea9a97;
@define-color pine #3e8fb0;
@define-color foam #9ccfd8;
@define-color iris #c4a7e7;
@define-color highlight #312f44;
@define-color highlight_inactive #2a283d;
@define-color highlight_overlay #3f3c53;

* {
  border: none;
  border-radius: 0;
  font-family: "JetBrains Mono";
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: white;
}

tooltip {
  background: @overlay;
  border-radius: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: @highlight_overlay;
}

#workspaces button {
  padding: 5px 10px;
  color: @inactive;
  border-radius: 15px;
}

#workspaces button.current_output {
  color: @text;
}

#workspaces button.focused {
  color: #0f0f0f;
  background-color: @iris;
}

#workspaces button.urgent {
  color: #0f0f0f;
  background-color: @foam;
}

#workspaces button:hover {
  color: #0f0f0f;
  background-color: @iris;
}

#clock.time,
#clock.date,
#battery,
#pulseaudio,
#network,
#mode,
#workspaces {
  background-color: @base;
  padding: 5px 10px;
  margin: 0px 0px 10px;
}

#workspaces {
  background-color: @surface;
  border-radius: 15px 0px 0px 15px;
}

#mode {
  background-color: @love;
  color: #0f0f0f;
}

#clock.date {
  color: @pine;
}

#clock.time {
  color: @gold;
  border-radius: 0px 15px 15px 0px;
  margin-right: 10px;
}

/* #battery { */
/*   color: #9ec49f; */
/* } */
/**/
/* #battery.charging { */
/*   color: #9ec49f; */
/* } */
/**/
/* #battery.warning:not(.charging) { */
/*   background-color: #c49ea0; */
/*   color: #0f0f0f; */
/* } */
/**/
/* #network { */
/*   color: #c4c19e; */
/*   border-radius: 0px 0px 0px 0px; */
/* } */

#pulseaudio {
  color: @rose;
}
